# macOS
**/.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# tar file.
*.tar.gz

# Prevent accidental node_modules installed at root.
node_modules/
ui/node_modules/
package.json
ui/yarn.lock
ui/package-json.lock

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
/cmd/asynqmon/asynqmon
/asynqmon
/api
dist/
ui/dist/

# local scripts
/cmd/asynqmon/start.sh

# Editor configs
.idea/
.vscode/
.editorconfig

# examples
examples/